* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.click, .popup_box{
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.click{
  background-color: #2981bc;
  border: 1px solid #0059b3;
  border-radius: 5px;
  color: white;
  font-size: 22px;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
}
.popup_box{
  align-items: center;
  background: #f2f2f2;
  border: 1px solid #b3b3b3;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
  padding: 40px;
  text-align: center;
  user-select: none;
  width: 400px;
  opacity: 0;
  z-index: 999;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.popup_box i{
  border-radius: 50%;
  border: 5px solid #eb9447;
  color: #eb9447;
  font-size: 60px;
  margin: -10px 0px 20px 0;
  padding: 20px 40px;
}
.popup_box h1{
  color: #1b2631;
  font-size: 30px;
  margin-bottom: 5px;
}
.popup_box label{
  color: #404040;
  font-size: 23px;
}
.btns{
  margin: 40px 0 0 0;
}
.btns .btn1, .btns .btn2 {
  background-color: #999999;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 13px;
  border: 1px solid #808080;
  transition: all 0.5s;
}

.btns .btn2 {
  background-color: #ff3333;
  margin-left: 20px;
  border: 1px solid #cc0000;
}

.btns .btn1:hover {
  background-color: #7d7171;
}

.btns .btn2:hover {
  background-color: #903232 ;
}
